<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/styles_home.css">
    <link rel="stylesheet" href="./css/styles_Sportal.css">

</head>
<body>
    <!-- search Teacher -->
    <header>
        <h1>STUDENT TEACHER APPOINTMENT PORTAL</h1>
        <p>All of your approved requests till date</p>
        <%if(locals.name){%>
            <h4>welcome,<%=name%></h4>
        <%}%>
     </header>

     
    <div class="book_outer">
                <div class ="navigation_bar">
                    <div class="buttn">
                        <a href="/back_toAppointments">Appointments</a>
                    </div>
                    <div class="buttn">
                        <a href="/Tpending">Pending</a>
                    </div>
                    <div class="buttn">
                        <a href="/logoutT">Logout</a>
                    </div>
                </div>
            
            <div class="approved_appo book " style="color:black">
                <%if(locals.datas){%>
                <table>
                    <tr>
                        <th>appointment id</th>
                        <th>Student id</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Reason</th>
                    </tr>
                    <%for(var i=0;i<datas.length;i++){%>
                    <tr>
                        <td><%=datas[i].a_id%></td>
                        <td><%=datas[i].student_id%></td>
                        <td><%=datas[i].a_date%></td>
                        <td><%=datas[i].a_time%></td>
                        <td><%=datas[i].reason%></td>
                    </tr>
                <%}%>
                </table>
                <%}else{%>
                    <div>
                        <h4 style="color:red">No appointments scheduled yet</h4>
                    </div>
                <%}%>
            </div>

    </div>
</body>
</html>